:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  --gray: 0px;
  --contrast: 0%;
  --hue: 0deg;
}

html {
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 70px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur)) grayscale(var(--gray)) contrast(var(--contrast))
    hue-rotate(var(--hue));
}

.highlight {
  color: var(--base);
}
